h1 {
  text-align: center;
}

.flex {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

button {
  font-size: 24px;
  width: 64px;
  height: 64px;
  background-color: white;
  border-radius: 50%;
  border: solid 2px black;
  cursor: pointer;
}